	<div class="footer">
		 <i class="facebook big icon"></i>
		 <i class="twitter big icon"></i>
		  <i class="google plus big icon"></i>
		  <i class="vk big icon"></i>
		  <i class="linkedin big icon"></i>
	</div>

</body>
</html>