i.icon {
	font-size: 2em;

}

.segment.container{
	margin-top: 5em;
}
.items.container{
	margin-top: 5em;
}

.ui.items>.item{
	margin-bottom: 10px;
}

#show{
	margin-top: 5em;
}
#del{
	display: inline;
}

.ui.items>.item>.image>img{
	height: 100%;
}

.ui.items>.item>.image:not(.ui){
	width: 30%;
}
.ui.items>.item{
	position: relative;
}

#indexButton {
	position: absolute;
	bottom: 10%;
}

.footer{
	padding: 2% 10%;
	text-align: center;
}